In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
junk_food = pd.read_csv('6-1-1-junk-food-weight.csv')['weight']
junk_food.head()

0    58.529820
1    52.353039
2    74.446169
3    52.983263
4    55.876879
Name: weight, dtype: float64

In [3]:
x_bar = np.mean(junk_food)
round(x_bar, 3)

55.385

In [4]:
n = len(junk_food)
df = n - 1
df

19

In [5]:
u = np.std(junk_food, ddof=1)
se = u / np.sqrt(n)
round(se, 3)

1.958

In [6]:
t_sample = (x_bar - 50) / se
round(t_sample, 3)

2.75

In [7]:
round(stats.t.ppf(q=0.025, df=df), 3)

-2.093

In [8]:
p_value = stats.t.cdf(-np.abs(t_sample), df=df) * 2
round(p_value, 3)

0.013

In [9]:
stats.ttest_1samp(junk_food, 50)

Ttest_1sampResult(statistic=2.750339683171343, pvalue=0.012725590012524182)

In [10]:
n = len(junk_food)
u = np.std(junk_food, ddof=1)

In [11]:
t_value_array = np.zeros(50000)

In [12]:
np.random.seed(1)
norm_dist = stats.norm(loc=50, scale=u)
for i in range(0, 50000):
    sample = norm_dist.rvs(size=n)
    sample_x_bar = np.mean(sample)
    sample_u = np.std(sample, ddof=1)
    sample_se = sample_u / np.sqrt(n)
    t_value_array[i] = (sample_x_bar - 50) / sample_se

In [13]:
p_sim = (sum(t_value_array >= t_sample) / 50000) * 2
round(p_sim, 3)

0.013

In [14]:
import numpy as np
import pandas as pd
from scipy import stats

In [15]:
paired_test_data = pd.read_csv('6-2-1-paired-t-test.csv')
paired_test_data

  person medicine  body_temperature
0      A   before              36.2
1      B   before              36.2
2      C   before              35.3
3      D   before              36.1
4      E   before              36.1
5      A    after              36.8
6      B    after              36.1
7      C    after              36.8
8      D    after              37.1
9      E    after              36.9

In [16]:
before = paired_test_data.query('medicine == "before"')['body_temperature']
after = paired_test_data.query('medicine == "after"')['body_temperature']

before = np.array(before)
after = np.array(after)

diff = after - before
diff

array([ 0.6, -0.1,  1.5,  1. ,  0.8])

In [17]:
stats.ttest_1samp(diff, 0)

Ttest_1sampResult(statistic=2.901693483620596, pvalue=0.044043109730074276)

In [18]:
stats.ttest_rel(after, before)

Ttest_relResult(statistic=2.901693483620596, pvalue=0.044043109730074276)

In [19]:
x_bar_bef = np.mean(before)
x_bar_aft = np.mean(after)

u2_bef = np.var(before, ddof=1)
u2_aft = np.var(after, ddof=1)

m = len(before)
n = len(after)

t_value = (x_bar_aft - x_bar_bef) / np.sqrt((u2_bef/m + u2_aft/n))
round(t_value, 3)

3.156

In [20]:
df = (u2_bef/m + u2_aft/n)**2 / ((u2_bef/m)**2 / (m-1) + (u2_aft/n)**2 / (n-1)) 
round(df, 3)

7.998

In [22]:
p_value = stats.t.cdf(-np.abs(t_value), df=df) * 2
round(p_value, 5)

0.01348

In [23]:
stats.ttest_ind(after, before, equal_var=False)

Ttest_indResult(statistic=3.1557282344421034, pvalue=0.013484775682079892)

In [24]:
import numpy as np
import pandas as pd
from scipy import stats

In [25]:
1 - stats.chi2.cdf(x=6.667, df=1)

0.009821437357809604

In [26]:
click_data = pd.read_csv('6-3-1-click_data.csv')
click_data

  color  click  freq
0  blue  click    20
1  blue    not   230
2   red  click    10
3   red    not    40

In [31]:
cross = pd.pivot_table(
    data=click_data,
    values='freq',
    aggfunc='sum',
    index='color',
    columns='click')

cross

click  click  not
color
blue      20  230
red       10   40

In [33]:
stats.chi2_contingency(cross, correction=False)

(6.666666666666666,
 0.009823274507519247,
 1,
 array([[ 25., 225.],
        [  5.,  45.]]))